.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink1 {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink2 {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink3 {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink4 {
    color: var(--dl-color-success-300);
  }
}

.request-itinerary-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.request-itinerary-header {
  width: 1533px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.request-itinerary-navlink {
  display: contents;
}
.request-itinerary-text {
  color: var(--dl-color-success-300);
  text-decoration: none;
}
.request-itinerary-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-success-300);
}
.request-itinerary-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.request-itinerary-navlink01 {
  color: var(--dl-color-success-300);
  text-decoration: none;
}
.request-itinerary-navlink02 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.request-itinerary-navlink03 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.request-itinerary-navlink04 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.request-itinerary-navlink05 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.request-itinerary-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.request-itinerary-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.request-itinerary-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.request-itinerary-nav2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.request-itinerary-banner {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 387px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.pexels.com/photos/8801423/pexels-photo-8801423.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-position: center;
}
.request-itinerary-text3 {
  color: var(--dl-color-success-300);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.request-itinerary-text4 {
  color: var(--dl-color-success-300);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.request-itinerary-textinput {
  color: var(--dl-color-success-300);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.request-itinerary-textinput1 {
  color: var(--dl-color-success-300);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.request-itinerary-textinput2 {
  color: var(--dl-color-success-300);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.request-itinerary-textarea {
  color: var(--dl-color-success-300);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.request-itinerary-navlink06 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.request-itinerary-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.request-itinerary-navlink07 {
  display: contents;
}
.request-itinerary-text5 {
  color: var(--dl-color-success-300);
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.request-itinerary-container1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.request-itinerary-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.request-itinerary-navlink08 {
  color: var(--dl-color-success-300);
  margin-left: 0px;
  text-decoration: none;
}
.request-itinerary-navlink09 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.request-itinerary-navlink10 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.request-itinerary-navlink11 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.request-itinerary-navlink12 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.request-itinerary-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-success-300);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.request-itinerary-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.request-itinerary-text8 {
  color: var(--dl-color-success-300);
}
.request-itinerary-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.request-itinerary-link {
  display: contents;
}
.request-itinerary-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.request-itinerary-link1 {
  display: contents;
}
.request-itinerary-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.request-itinerary-link2 {
  display: contents;
}
.request-itinerary-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 991px) {
  .request-itinerary-nav2 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .request-itinerary-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .request-itinerary-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .request-itinerary-nav {
    display: none;
  }
  .request-itinerary-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .request-itinerary-navlink01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .request-itinerary-navlink02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .request-itinerary-navlink03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .request-itinerary-navlink04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .request-itinerary-navlink05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .request-itinerary-icon {
    display: flex;
  }
  .request-itinerary-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .request-itinerary-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .request-itinerary-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .request-itinerary-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .request-itinerary-text8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .request-itinerary-header {
    padding: var(--dl-space-space-unit);
  }
  .request-itinerary-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .request-itinerary-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .request-itinerary-footer {
    padding: var(--dl-space-space-unit);
  }
  .request-itinerary-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .request-itinerary-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .request-itinerary-text8 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
