.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink1 {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink2 {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink3 {
    color: var(--dl-color-success-300);
  }
  .navigation-links-navlink4 {
    color: var(--dl-color-success-300);
  }
}

.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-header {
  width: 1533px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.team-navlink {
  display: contents;
}
.team-text {
  color: var(--dl-color-success-300);
  text-decoration: none;
}
.team-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-success-300);
}
.team-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team-navlink01 {
  color: var(--dl-color-success-300);
  text-decoration: none;
}
.team-navlink02 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-navlink03 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-navlink04 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-navlink05 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.team-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.team-nav2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-gallery {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.team-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  grid-area: a;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1522814208878-08129b4b76f3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGxpZ2h0aG91c2UlMjBwYXN0ZWx8ZW58MHx8fHwxNjI2NDM5Nzkx&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.team-container01:hover {
  transform: scale(0.98);
}
.team-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/320777935_1179298139605831_350174695750650282_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFcbkkt34geb23Ut4rfpZIC7ESw1W6oX7HsRLDVbqhfsRQGg3eK1v7yaxaEWcLOP2EW1XitaJ5Nu3p3TYaWpz3I&_nc_ohc=JW3vHxtydZMAX8kjcTQ&_nc_oc=AQmjopJBtSUXWQMTbU_954qcocMPoUmhn1QCi0JSIIX8l37j7pcZh6vEq3dqFgFmrZ4&_nc_ht=scontent.fmnl30-2.fna&oh=00_AfA5h9dTurE3t1nNg9oX-CZOfI4vrVjWy39WX1JA4wJkxg&oe=640EC09F');
}
.team-text03 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  align-self: flex-start;
  font-weight: 600;
}
.team-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGdyZWVuJTIwbGFtcCUyMHBhc3RlbHxlbnwwfHx8fDE2MjY0Mzk4NDA&ixlib=rb-1.2.1&h=1000");
  background-position: center;
}
.team-container03:hover {
  transform: scale(0.98);
}
.team-container04 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/1756665/pexels-photo-1756665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.team-text04 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  font-weight: 600;
}
.team-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1528696892704-5e1122852276?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHBpbmslMjB0ZWElMjBwYXN0ZWx8ZW58MHx8fHwxNjI2NDM5ODU2&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.team-container05:hover {
  transform: scale(0.98);
}
.team-container06 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/309406354_108169685416325_2669062057241153436_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeF6Epwp-sGHirEU00tqxZRhnULko-MtLZedQuSj4y0tl8dg6_9fZKkenngqc5BFF7D2n8PM3NcaE6YRDWzVWNiN&_nc_ohc=CDL4UVseMJgAX_oC8Hv&_nc_ht=scontent.fmnl30-2.fna&oh=00_AfBSeCMjKe1D628GfY-Apyg3qaMf1GbvGPahtgxlvish5w&oe=640DB8B2');
}
.team-text05 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  font-weight: 600;
}
.team-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fHllbGxvdyUyMGljZWNyZWFtfGVufDB8fHx8MTYyNjQzOTg4OQ&ixlib=rb-1.2.1&h=1000");
  background-position: center;
}
.team-container07:hover {
  transform: scale(0.98);
}
.team-container08 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://scontent.fmnl30-3.fna.fbcdn.net/v/t39.30808-6/293946719_5611872835498509_923898407312897788_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_eui2=AeERlzn1HMqRQPSseI78RScbxY00xV5k7DbFjTTFXmTsNgoYTqPDJuxTMdSSb7vwFvZoeqP1rxMj-R0QgnWpM0bf&_nc_ohc=C2IAgZ_Opa0AX_970m6&_nc_ht=scontent.fmnl30-3.fna&oh=00_AfDyqs41-MrdA9pgHMzgUF0-5vIW4bx8V4Z1fv0AHFKVvg&oe=640F831C');
}
.team-text06 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
}
.team-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: e;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1551500226-b50b653e33e8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwfHxwYXN0ZWwlMjBjb2ZmZWUlMjBncmVlbnxlbnwwfHx8fDE2MjY0Mzk5MzA&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.team-container09:hover {
  transform: scale(0.98);
}
.team-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://scontent.fmnl30-1.fna.fbcdn.net/v/t39.30808-6/243780950_10220376264425810_519944134200256505_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEdJuiHNYHe7Jp6gKedHdw6CjybuPZcla4KPJu49lyVrjDQxd3ao7ZQ2Je-IcltvZlBwTXpe8iirVcKBDV_suw8&_nc_ohc=8GtpNjaOlCoAX8HBwuO&_nc_ht=scontent.fmnl30-1.fna&oh=00_AfAJLIbQ_sv9BUTHeJpcLr57VZNvj9eV4HrxZ1S-7Ly2LQ&oe=640DBD2A');
}
.team-text07 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
}
.team-text08 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-halfunit);
}
.team-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1591101761702-0c4927df1d52?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fHBhc3RlbCUyMHBpbmslMjBjb3R0b258ZW58MHx8fHwxNjI2NDQwMDUw&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.team-container11:hover {
  transform: scale(0.98);
}
.team-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/313912698_198445839208692_7826483335033837573_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGuKtp29MOH94bn2BmMSWpif9j4sxc3ptN_2PizFzem03_CanTdDjQaRLkYmfPuoty_1spdc_jACUmCN-Ii6yTl&_nc_ohc=ezMC_PKVCokAX_ADU6s&_nc_ht=scontent.fmnl30-2.fna&oh=00_AfCAXBuqXVU24X0MDtKXnKLGl-BlaxNcKjdsgo7trO_vCA&oe=640ED75A');
}
.team-text09 {
  color: var(--dl-color-gray-black);
  font-size: 1.5rem;
  font-weight: 600;
}
.team-banner {
  width: 100%;
  height: 524px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
}
.team-text10 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text11 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-textinput {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-textinput1 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-textinput2 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text12 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-select {
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-textinput3 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-textinput4 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-navlink06 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.team-navlink06:hover {
  transform: scale(1.02);
}
.team-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-navlink07 {
  display: contents;
}
.team-text13 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.team-container13 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.team-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.team-navlink08 {
  color: var(--dl-color-success-300);
  margin-left: 0px;
  text-decoration: none;
}
.team-navlink09 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-navlink10 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-navlink11 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-navlink12 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-success-300);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.team-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-text16 {
  color: var(--dl-color-success-300);
}
.team-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .team-nav2 {
    padding-top: 16px;
  }
  .team-gallery {
    grid-gap: var(--dl-space-space-unit);
  }
  .team-text03 {
    text-align: center;
  }
  .team-text04 {
    text-align: center;
  }
  .team-text05 {
    text-align: center;
  }
  .team-text06 {
    text-align: center;
  }
  .team-text07 {
    text-align: center;
  }
  .team-text08 {
    text-align: center;
  }
  .team-text09 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .team-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-nav {
    display: none;
  }
  .team-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .team-navlink01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-navlink02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-navlink03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-navlink04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-navlink05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-icon {
    display: flex;
  }
  .team-gallery {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .team-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text16 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .team-header {
    padding: var(--dl-space-space-unit);
  }
  .team-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .team-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .team-footer {
    padding: var(--dl-space-space-unit);
  }
  .team-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text16 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
