.navigation-links3-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links3-navlink {
  text-decoration: none;
}
.navigation-links3-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links3-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links3-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links3-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links3-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links3-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links3-navlink {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink1 {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink2 {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink3 {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink4 {
    color: var(--dl-color-success-300);
  }
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.about-navlink {
  display: contents;
}
.about-text {
  color: var(--dl-color-success-300);
  text-decoration: none;
}
.about-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-success-300);
}
.about-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-navlink01 {
  color: var(--dl-color-success-300);
  text-decoration: none;
}
.about-navlink02 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-navlink03 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-navlink04 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-navlink05 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.about-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.about-nav2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-banner {
  width: 100%;
  height: 472px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&w=1600');
}
.about-text03 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-sixunits);
}
.about-text04 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-twounits);
}
.about-text05 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.about-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-text06 {
  color: var(--dl-color-success-300);
  font-size: 3rem;
  text-align: center;
}
.about-text07 {
  color: var(--dl-color-success-300);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-textinput {
  color: var(--dl-color-success-300);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.about-navlink06 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.about-navlink06:hover {
  transform: scale(1.02);
}
.about-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-navlink07 {
  display: contents;
}
.about-text11 {
  color: var(--dl-color-success-300);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.about-container2 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.about-navlink08 {
  color: var(--dl-color-success-300);
  margin-left: 0px;
  text-decoration: none;
}
.about-navlink09 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink10 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink11 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink12 {
  color: var(--dl-color-success-300);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-success-300);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-text14 {
  color: var(--dl-color-success-300);
}
.about-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-link {
  display: contents;
}
.about-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-link1 {
  display: contents;
}
.about-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-link2 {
  display: contents;
}
.about-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 991px) {
  .about-nav2 {
    padding-top: 16px;
  }
  .about-text07 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .about-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-nav {
    display: none;
  }
  .about-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .about-navlink01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-navlink02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-navlink03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-navlink04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-navlink05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-icon {
    display: flex;
  }
  .about-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-text07 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-text14 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .about-header {
    padding: var(--dl-space-space-unit);
  }
  .about-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-text14 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
