.navigation-links3-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links3-navlink {
  text-decoration: none;
}
.navigation-links3-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links3-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links3-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links3-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links3-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links3-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links3-navlink {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink1 {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink2 {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink3 {
    color: var(--dl-color-success-300);
  }
  .navigation-links3-navlink4 {
    color: var(--dl-color-success-300);
  }
}
