.output-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.output-navlink {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-threeunits);
  transition: 0.3s;
  text-decoration: none;
  background-color: var(--dl-color-success-300);
}
.output-navlink:hover {
  transform: scale(1.02);
}
.output-gallery {
  width: 100%;
  height: 787px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.output-container01 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.output-container02 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.output-container03 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-container04 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.output-container04:hover {
  opacity: 1;
}
.output-navlink1 {
  display: contents;
}
.output-container05 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.output-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.output-container06 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-gallery-card1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-container07 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.output-container07:hover {
  opacity: 1;
}
.output-navlink2 {
  display: contents;
}
.output-container08 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.output-image1 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.output-container09 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.output-gallery-card2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.output-container10:hover {
  opacity: 1;
}
.output-navlink3 {
  display: contents;
}
.output-container11 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.output-image2 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.output-container12 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-gallery-card3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.output-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.output-container13:hover {
  opacity: 1;
}
.output-navlink4 {
  display: contents;
}
.output-container14 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.output-image3 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .output-container12 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .output-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .output-container02 {
    flex-direction: column;
  }
  .output-gallery-card {
    flex-direction: column;
  }
  .output-gallery-card1 {
    flex-direction: column;
  }
  .output-gallery-card2 {
    flex-direction: column;
  }
  .output-gallery-card3 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .output-gallery {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .output-container01 {
    width: auto;
  }
  .output-container04 {
    max-width: auto;
  }
  .output-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .output-container07 {
    max-width: auto;
  }
  .output-image1 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .output-container10 {
    max-width: auto;
  }
  .output-image2 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .output-container13 {
    max-width: auto;
  }
  .output-image3 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}
